---
---

html {
    background-color: #eee;
}

body {
    background-color: white;
    font-family:sans-serif;
    width: 900px;
    padding: 0 23px;
    margin: 1em auto;

    box-shadow: 0 0 10px 5px #ddd;
    border-radius: 5px;
    font-size: 16px;
}

header {
    h1 {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 800;
        margin: 0 0 0.5em;
    }

    .wood-img {
        background-color: orange;
        width: 100%;
        height: 2em;
    }

    padding: 0.6em 0 0.5em;
    border-bottom: 1px solid lightgrey;
}

.fonts-loaded header {
    font-family:"Fira Sans", sans-serif;
}


footer {
    font-size: 0.9em;
    color: grey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.9em;
    font-weight: 500;
}

acronym {
    text-decoration: none;
    &:hover {
        color: purple;
        cursor: help;
    }
}

hr {
    border-width: 3px 0 0 0;
    border-color: black;
    margin: 0.5em 0;
}



a {
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.02em; // overrided in .fonts-loaded
    &:hover {
        color: orange;
    }
}

.fonts-loaded {
    body {
//        font-family:"Fira Sans", sans-serif;
    }

    a {
        letter-spacing: 0.07em;
    }
}

@media screen and (max-width: 460px)
{
}

@media screen and (max-width: 345px)
{
}

