---
---

html {
    background-color: #eee;
}

body {
    background-color: white;
    font-family:sans-serif;
    width: 400px;
    padding: 20px 23px;
    margin: 100px auto;

    box-shadow: 0 0 10px 5px #ddd;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    font-weight: 800;
    padding-bottom: 0.3em;
    border-bottom: 3px solid black;
}

h2 {
    font-size: 8em;
    line-height: 0.8em;
    margin: 0.1em 0 0 -0.05em;
    letter-spacing: 0;
    font-weight: 700;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.9em;
    font-weight: 500;
}

acronym {
    text-decoration: none;
    &:hover {
        color: purple;
        cursor: help;
    }
}

hr {
    border-width: 3px 0 0 0;
    border-color: black;
    margin: 0.5em 0;
}

p {
    font-size: 2.0em;
    line-height: 1em;
    margin: 0.5em 0 0;
    text-align:center;
    font-weight: 500;
}


a {
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.02em; // overrided in .fonts-loaded
    &:hover {
        color: orange;
    }
}

.fonts-loaded {
    body {
        font-family:"Fira Sans", sans-serif;
    }

    a {
        letter-spacing: 0.07em;
    }
}

@media screen and (max-width: 460px)
{
    body {
        width: auto;
        border-radius: 0px;
        margin-top: 30px;
        padding-bottom: 0;
    }
    h1 {
        line-height: 2em;
        font-size: 1.6em;
    }
    h2 {
        padding-top:0.3em;
        font-size: 4em;
    }

    ul {
        font-size: 2em;
    }
    hr { margin-top: 2em; }


    p {
        font-size: 1.5em;
        line-height: 2em;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 345px)
{
    h2 {
        font-size: 2.9em;
    }

    ul {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
    }
}

