html {
    background-color: #eee;
}

body {
    background-color: white;
    font-family:sans-serif;
    width: 400px;
    padding: 20px 23px;
    margin: 100px auto;

    box-shadow: 0 0 10px 5px #ddd;
    border-radius: 5px;
}

.no-js body, .fonts-loaded body {
    font-family:"Fira Sans", sans-serif;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    font-weight: 800;
    padding-bottom: 0.3em;
    border-bottom: 3px solid black;
}

.ie.no-js h1, .ie.fonts-loaded h1 {
    margin-top: 0.2em;
    padding-bottom: 0.1em;
}

h2 {
    font-size: 8em;
    line-height: 0.8em;
    margin: 0.1em 0 0 -0.05em;
    letter-spacing: 0;
    font-weight: 700;
}

.ie.no-js h2, .ie.fonts-loaded h2 {
    margin-top: 0.3em;
    margin-bottom: -0.3em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.9em;
    font-weight: 500;
}

.ie.no-js ul, .ie.fonts-loaded ul {
    margin-top: 0.5em;
    margin-bottom: -0.2em;
}

acronym {
    text-decoration: none;
}

acronym:hover {
    color: purple;
    cursor: help;
}

hr {
    border-width: 3px 0 0 0;
    border-color: black;
    margin: 0.5em 0;
}

p {
    font-size: 2.1em;
    line-height: 1em;
    margin: 0.5em 0 0;
    text-align:center;
    font-weight: 500;
}

.ie.no-js p, .ie.fonts-loaded p {
    margin-top: 0.6em;
    margin-bottom: -0.2em;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0.07em;
}

a:hover {
    color: orange;
}
