---
---

@import "shared";

@function site_url($url) { @return url("{{ site.baseurl }}#{$url}"); }

#firehose-list {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        > .info {
            display: flex;
            align-items: baseline;

            abbr { margin-left: 1em; }

            h2 { margin-bottom: 0; }
        }

    }

    > .tweet {
        &:before {
            content: '';
            background-image: site_url("/img/twitter_icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 1em;
            height: 1em;
            display: inline-block;
            margin: 0 5px 0 0;
        }
        margin: 1em 1em 0;
        padding: 0.7em 1em;
        font-size: larger;
        font-style: italic;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }
}

abbr.published {
    text-decoration: none;
    &, a {
        @include shadow-text;
    }
    font-size: smaller;
}

p.post-summary {
    margin-top: 0;
    font-size: smaller;
    font-style: italic;
}
