---
---

@import "shared";

@function site_url($url) { @return url("{{ site.baseurl }}#{$url}"); }

#firehose-list {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        > .info {
            display: flex;
            align-items: baseline;

            abbr { margin-left: 0.5em; }

            h2 { margin-bottom: 0; }
        }

    }

    > .blog {
        h2 { margin-top: 0; }
        margin: 1.5em 2em 2em;
    }

    > .tweet {
        margin: 1em 1em 1em;
        padding: 0.7em 1em;
        p {
            font-family:Georgia;
            color: #444;
            margin: 0.5em 0 0.3em;
            font-size: larger;
            font-style: italic;
        }
        border: 1px solid lightgrey;
        border-radius: 5px;
        box-shadow: 0 0 10px 5px #eee;

        overflow:hidden;

        //display: flex;

        &:hover {
            border-color: #aaa;
        }

        .imageFrame {
            width: 200px;
            height: 100%;
            //margin: -1em -1em -1em 0;
            overflow: hidden;
            //background-color: red;
            //img { display:none;}
        }

        img.icon {
            width: 1em; height: 1.0em;
            margin: 0 0.4em 0 0;
            vertical-align:middle;
        }
    }
}

abbr.published {
    text-decoration: none;
    &, a {
        @include shadow-text;
    }
    font-size: smaller;
}

p.post-summary {
    margin-top: 0;
    font-size: smaller;
    font-style: italic;
}
