# Deny access to directory listing and Follow symbolic links

Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex index.html
IndexIgnore *

# Redirect errors to a custom page

ErrorDocument 404 /404
ErrorDocument 403 /403

Redirect 301 /cv http://careers.stackoverflow.com/pd

# Rewrites...

RewriteEngine On

# Redirect links to downloads from other domains

RewriteCond %{HTTP_REFERER} !^http://(www\.)?pddds\.com/ [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule ^(.*)/[^/]+\.(pkg|dmg|zip)$ $1/ [R,NC,L]

# Prevent accessing hidden files
RewriteRule ^(.*/)?\. - [F,NS,L]

RewriteRule ^(.*/)*([a-zA-Z0-9\-]+)/?$ $1$2.html [L]
