---
css: firehose
---

<p><em>A slow drizzel...</em></p>

<ol id="firehose-list">{% for post in site.posts %}
    <li id="{{ post.date | date: "%s%3N" }}" class="blog">
        <div class="info">
            <h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
            <abbr class="published" title="{{ include.post.date }}">
                <a href="{{ post.url | prepend:site.baseurl }}">
                  {{ post.date | date:'%b %d %Y' }}
                </a>
            </abbr>
        </div>
        <p class="post-summary">
        {% if post.summary %}{{ post.summary }}{% else %}A dreadfully interesting post about something frightfully relevant and witty{% endif %}
        </p>
    </li>{% endfor %}
</ol>

<script type="text/javascript">
const SITE_BASEURL = "{{ site.baseurl }}";
function getScript(source, callback) {
    var script = document.createElement('script');
    var prior = document.getElementsByTagName('script')[0];
    script.async = 1;
    prior.parentNode.insertBefore(script, prior);

    script.onload = script.onreadystatechange = function( _, isAbort ) {
        if(isAbort || !script.readyState || /loaded|complete/.test(script.readyState) ) {
            script.onload = script.onreadystatechange = null;
            script = undefined;

            if(!isAbort) { if(callback) callback(); }
        }
    };

    script.src = source;
}
</script>

<script type="text/javascript" src="{{ site.baseurl }}/js/firehose.js"></script>
<script type="text/javascript">
buildFirehose("firehose-list");
</script>
