<!-- include nav -->
<nav><div class="wrapper">
<ul>{% for item in site.nav %}
    <li class="{% if item.name != page.tab %}in{% endif %}active">
        <a{% if item.url %} href="{{ item.url}}"{% endif %}>{{ item.name }}</a>{% if item.subnav %}
        <ul>{% for subitem in item.subnav %}
            <li>
                <a{% if subitem.url %} href="{{ subitem.url}}"{% endif %}>{{ subitem.name }}</a>
            </li>{% endfor %}
        </ul>{% endif %}
    </li>{% endfor %}
</ul>
<span class="clr"></span>
</div></nav>
<!-- /include nav -->
