<article class="entry">
    <header>
        {% if detail %}
        <h2>{{ post.title }}</h2>
        {% else %}
        <h3><a href="{{ post.url }}" rel="bookmark" title="Premalink to {{ post.title }}">{{ post.title }}</a></h3>
        {% endif %}
        {% unless nodate %}
        <abbr class="published" title="{{ post.date }}">
            {{ post.date | date:'%b %d %Yi' }}
        </abbr>
        {% endunless %}
        <span class="clr"></span>
    </header>

    <div class="entry-content">
        {% if detail %}
            {{ content }}
        {% else %}
            {{ post.content }}
        {% endif %}
    </div>

    {% unless nofooter %}
    <footer>
        Nothing in the footer
    </footer>
    {% endunless %}
</article>
