<article class="entry">
    <header>
        {% if detail %}
            <h2>{{ post.title }}</h2>{% if post.subtitle %}
            <div class="subtitle">{{ post.subtitle }}</div>{% endif %}{% unless nodate %}
            <abbr class="published" title="{{ post.date }}">
                {{ post.date | date:'%b %d %Y' }}
            </abbr>{% endunless %}{% unless noauthor%}
            <span class="author">{% unless nodate %} ~ {% endunless %}
            by {{ post.author }}</span>{% endunless %}
        {% else %}
            {% unless nodate %}
            <abbr class="published" title="{{ post.date }}">
                {{ post.date | date:'%b %d %Y' }}
            </abbr>
            {% endunless %}
            <h3><a href="{{ post.url }}" rel="bookmark" title="Premalink to {{ post.title }}">{{ post.title }}</a></h3>
        {% endif %}
        <span class="clr"></span>
    </header>

    <div class="entry-content">
        {% if detail %}
            {{ content }}
        {% else %}
            {% if truncateby %}
            {{ post.content | truncatewords: truncateby }}
            <p class="readmore">
                <a href="{{ post.url }}">Continue reading</a>
            </p>
            {% else %}
                {{ post.content }}
            {% endif %}
        {% endif %}
    </div>

    {% unless nofooter %}
    <footer>
        <!-- comments, author details... other stuff -->
    </footer>
    {% endunless %}
</article>
