header h1{ float: left; }
header aside{float: right; font-size:0.8em; color:#666;
    margin:1.6em 0 0}
header aside p{padding:0.9em 0 0}

header hr {margin-bottom:0.5em; clear:both}

header nav .wrapper{margin:0 0 1em}
header nav ol{margin:0}

header nav li{
    margin: 0;
    list-style: none;
    float: left;
    /*position: relative;*/
}

header nav a{font-size:0.8em; color:#666; background:inherit}

header{ margin:0 0 1.5em }
